<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.mm20.sysuiorange">

    <uses-feature android:required="true" android:name="org.cyanogenmod.theme" />

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23" />

    <meta-data android:name="org.cyanogenmod.theme.name" android:value="SysUI_orange" />
    <meta-data android:name="org.cyanogenmod.theme.author" android:value="System" />
    <meta-data android:name="org.cyanogenmod.theme.email" android:value="" />

    <application android:hasCode="false"
        android:label="SysUIOrange"/>

</manifest>
